<div class="container">
  <div class="search-header">
    <input class="search-bar" type="text" placeholder="Search...">
  </div>
  <div class="table-header">
    <h1 class="applications-header">Applications</h1>
    <div class="btn-wrapper">
      <button class="delete-btn">Delete All</button>
      <button class="add-btn">+ Add</button>
    </div>
  </div>
  <div class="applications-table-wrapper">
    <table class="applications-table">
      <thead>
        <tr>
          <th>Job Post</th>
          <th>Company</th>
          <th>Role</th>
          <th>Response</th>
          <th>Interview Stage</th>
          <th>Offer</th>
          <th>Date</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="jobApplications$ | async as jobApplications; else loading">
        <tr *ngFor='let application of jobApplications'>
          <td>
            <button mat-icon-button (click)="navigateToJobPost(application.linkToJobPost)">
              <mat-icon color="primary">open_in_new</mat-icon>
            </button>
          </td>
          <td>{{ application.company }}</td>
          <td>{{ application.role }}</td>
          <td>
            <select [(ngModel)]="application.applicationResponse"
              (ngModelChange)="onResponseChange(application, $event)">
              <option *ngFor="let response of applicationResponse | keyvalue" [value]="response.key">
                {{ response.key.replace('_', ' ')}}
              </option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="application.interviewStage"
              (ngModelChange)="onInterviewStageChange(application, $event)">
              <option *ngFor="let stage of interviewStage | keyvalue" [value]="stage.key">
                {{ stage.key.replace('_', ' ') }}
              </option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="application.offerStatus" (ngModelChange)="onOfferStatusChange(application, $event)">
              <option *ngFor="let status of offerStatus | keyvalue" [value]="status.key">
                {{ status.key }}
              </option>
            </select>
          </td>
          <td>{{ application.applicationDate }}</td>
          <td>
            <button mat-icon-button>
              <mat-icon color="primary">edit</mat-icon>
            </button>
          </td>
          <td>
            <button mat-icon-button (click)="deleteJobApplication(application.applicationId)">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #loading>loading...</ng-template>