<div class="hero">
    <div class="summary">
        <h1>Stay Organized, <br> Stay Ahead</h1>
        <p>
            Welcome to Hiremeter, your ultimate job search companion.
            Effortlessly manage your applications, track interview
            schedules, and stay organized with personalized reminders and
            insightful analytics. Take control of your career journey today!
        </p>
    </div>
    <img src="../assets/images/site_preview.jpg" alt="site preview">
</div>
<button class="login-btn">Log In</button>